 @import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Russo One', sans-serif;
    list-style: none;
    text-decoration: none;
 }

 :root{
    --red:#d63a25; 
    ---white:#fff; 
    ---dark: #1e1c2a; 
    ---roxo: #3d142d;
    ---yellow: #f0ed3a; 
 }

 body{
    color: var(---dark);
    background: var(--red);
 }

 .navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    box-shadow: 0 0.1rem 0.5rem #ccc;
    width: 100%;
    background: var(--red);
    transition: all 0.5s;
    position: fixed;
 }

.navigation .logo{
    color: var(---yellow);
    font-size: 1.7rem;
    font-weight: 600;
    text-shadow: 0 0.2rem 0.4rem #020201;   
}

.logo span{
    color: var(---yellow);
}

.navigation ul{
    display: flex;
    align-items: center;
    gap: 5rem;
}

.navigation ul li a{
    color: var(---yellow);
    font-size: 17px;
    font-weight: 500;
    transition: all 0.5s;
}

.navigation ul li a:hover{
    color: var(--red);
    text-shadow:0 0.2rem 0.8rem #080808;
}

.navigation i{
    cursor: pointer;
    font-size: 1.5rem;
}

.menu{
    cursor: pointer;
    display: none;
}

.menu .bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background: var(---white);
    margin: 5px auto;
    transition: all 0.3s;
}

.menu .bar:nth-child(1)
.menu .bar:nth-child(3){
    background: var(--red);
}

.home{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10%;
}

.home-text{
    max-width: 37rem;
}

.home-text .text-4{
    font-size: 1.5rem;
    color: #f0ed3a;
    margin-bottom: 1rem;
}

.home-text .text-1{
    font-size: 4rem;
    margin-bottom: 1rem;
    line-height: 4rem;
}

.home-text p{
    margin-bottom: 4rem;
}

.home-btn{
    padding: 15px 45px;
    background: blue;
    color: var(---yellow);
    text-shadow: var(---dark) 0 0.1rem 0.2rem;
    border-radius: 10px;
    font-weight: 500;
    transition: all 0.5s;
}

.home-btn:hover{
    background: var(---dark);
}

.home-img img{
    width: 100%;
}

/*TELA DE CONTATO
------------------------------------------*/
.home-text_contato{
    max-width: 350rem;
    display: flex;
}

.form_contato{
    text-align: center;
    margin-bottom: -80px;
    border-radius: 10px;
    border-color: white;
    border-style: double;
    border-width: medium;
    transition: all 0.5s;
}

.form_contato:hover{
    border-radius: 10px;
    border-color: yellow;
}

.area-de-contato {
    display: flex;
    background: var(---dark);
    color: yellow;
    font-size: 22px;
    padding: 5px 50px;
    text-shadow: var(---white) 0 0.1rem 0.2rem;
    border-radius: 15px;
    
    text-align: center;
    animation-direction: alternate;
}

h3 {
    padding: 15px 5px;
    text-shadow:0 0.2rem 0.8rem #080808;
}

.text_nome_form{
    padding: 5px 5px;
    text-shadow: var(---dark) 0 0.1rem 0.2rem;
    color: yellow;
}

.nome_form{
    text-size-adjust: auto;
    border-radius: 10px;
    border-style: groove;
    border-width: medium;
    padding: 5px 35px;
    text-align: center;
    transition: all 0.5s;
}

.nome_form:hover, .nome_form:focus{
    padding: 5px 50px;
    border-color: yellow;
}

.text_email_form{
    padding: 5px 5px;
    text-shadow: var(---dark) 0 0.1rem 0.2rem;
    color: yellow; 
}

.email_form {
    text-size-adjust: auto;
    border-radius: 10px;
    border-style: groove;
    border-width: medium;
    padding: 5px 30px;
    text-align: center;
    transition: all 0.5s;
}

.email_form:hover, .email_form:focus{
    padding: 5px 40px;
    border-color: yellow;
}

.text_telefone_form{
    padding: 5px 5px;
    text-shadow: var(---dark) 0 0.1rem 0.2rem;
    color: yellow;
}

.telefone_form{
    text-size-adjust: auto;
    border-radius: 10px;
    border-style: groove;
    border-width: medium;
    padding: 5px 15px;
    text-align: center;
    transition: all 0.5s;
}

.telefone_form:hover, .telefone_form:focus{
    padding: 5px 25px;
    border-color: yellow;

}

.text_produto_form{
    padding: 5px 5px;
    text-shadow: var(---dark) 0 0.1rem 0.2rem;
    color: yellow;
}

.produto_form{
    border-radius: 10px;
    border-style: groove;
    border-width: medium;
    padding: 5px 15px;
    text-align: center;
    transition: all 0.5s;
}

.produto_form:hover, .produto_form:focus{
    padding: 5px 25px;
    border-color: yellow;

}

.text_marca_select{
    padding: 5px 5px;
    text-shadow: var(---dark) 0 0.1rem 0.2rem;
    color: yellow;
}

.select_marca{
    display: grid table-column;
    padding: 5px 10px;
    border-radius: 10px;
    border-style: groove;
    border-width: medium;
    text-justify: center;
    transition: all 0.5s;
}

.select_marca:hover{
    padding: 5px 20px;
    border-color: yellow;
}

.text_mensagem_form{
    padding: 5px 5px;
    text-shadow: var(---dark) 0 0.1rem 0.2rem;
    color: yellow;
}

.mensagem_form{
    padding: 20px 100px;
    text-align: initial;
    transition: all 0.5s;
    border-radius: 10px;
    border-width: medium;
    border-style: groove;
    text-align: center;

}

.mensagem_form:hover, .mensagem_form:focus{
    border-radius: 40px;
    border-color: yellow;
    border-style: inset;
}

.btn_enviar{
    padding: 5px 50px;
    background: var(---dark);
    color: var(---white);
    text-shadow: var(---white) 0 0.1rem 0.2rem;
    border-radius: 20px;
    border-style: groove;
    border-color: white;
    font-size: 18px;
    transition: all 0.5s;

}

.btn_enviar:hover, .enviar-btn:focus{
    background: yellow;
    color: var(---black);
    border-style: inset;
    border-color: black;
    text-align: center;
}

.home-img_contatos{
    margin-left: 140px;
    display: flex;
}

.home-img_contatos img{
    width: 110%;
}
